.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .mainform{
        display: flex;
        flex-direction: column;
        gap: 20px;

        input{
            padding: 5px 50px;
            text-align: center;
            border-radius: 5px;
        }

        button{
            color: white;
            background-color: rgb(58, 58, 107);

            &:hover{
                background-color: rgb(63, 63, 133);
            }
        }
    }
}